.Modal
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0

  background: $colorDarkAlpha

  display: flex
  justify-content: center
  align-items: center

.Modal-Content
  width: calc(100vw - 30px)
  padding: 15px
  border-radius: $borderRadiusL
  position: relative
  background: $colorBright

.Modal-Close
  padding: 15px

  position: absolute
  right: 0
  bottom: 100%

  color: $colorBright
  cursor: pointer

  .Cross
    font-size: 32px

.Modal-Close-Bottom
  padding: 15px 0

  position: absolute
  top: 100%
  left: 0

  color: $colorBright
  cursor: pointer
