{
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": "entry", "corejs": "3" }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-strict-mode",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-json-strings"
  ],
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-transform-react-jsx-self"
      ]
    },
    "production": {
      "plugins": [
        ["@babel/plugin-transform-runtime", { "corejs": false }],
        "transform-node-env-inline",
        "@babel/plugin-transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "@babel/plugin-transform-react-inline-elements"
      ]
    }
  }
}
