// Default button styles
.ui-button
  padding: 10px 12px
  display: inline-block

  font-size: $fontSizeM
  font-weight: $fontWeightM
  text-decoration: none

  border-radius: $borderRadiusM

  user-select: none
  cursor: pointer
  touch-action: manipulation
  touch-callout: none
  pointer-events: auto

  a&
    color: inherit

// Sizes
.ui-button-small
  padding: 5px 10px

  font-size: 12px
  line-height: @height

  border-radius: $borderRadiusS

// Colors
.ui-button-primary
  color: $colorAction

  a&
    color: $colorAction

  &:hover,
  &:active,
  &.is-active
    background: lighten($colorDarkAlpha, 90%)
    color: $colorDark

.ui-button-secondary
  color: $colorDark

  a&
    color: $colorDark

  &:hover,
  &:active,
  &.is-active
    background: lighten($colorDarkAlpha, 90%)
    color: $colorDark

.ui-button-special
  background: $colorAction
  color: $colorBright

  a&
    color: $colorBright

  &:hover,
  &:active,
  &.is-active
    background: darken($colorAction, 20%)
    color: $colorBright
