$uiButtonHeight = 40px
$uiButtonSmallHeight = 28px

// Default button styles
.ui-button
  height: $uiButtonHeight

  padding: 0 30px
  display: inline-block

  font-size: $fontSizeM
  font-weight: $fontWeightM
  line-height: @height
  text-decoration: none
  text-align: center

  border-radius: $borderRadiusM

  user-select: none
  cursor: pointer
  touch-action: manipulation
  touch-callout: none
  pointer-events: auto

  a&
    color: inherit

// Sizes
.ui-button-small
  height: $uiButtonSmallHeight

  padding: 0 20px

  font-size: 12px
  line-height: @height

  border-radius: $borderRadiusS

// Colors
.ui-button-primary
  color: $colorAction

  a&
    color: $colorAction

  &:hover,
  &:active,
  &.is-active
    background: lighten($colorDarkAlpha, 90%)
    color: $colorDark

.ui-button-secondary
  color: $colorDark

  a&
    color: $colorDark

  &:hover,
  &:active,
  &.is-active
    background: lighten($colorDarkAlpha, 90%)
    color: $colorDark
