// Headline
h1, .ui-h1,
h2, .ui-h2,
h3, .ui-h3,
h4, .ui-h4
  word-wrap: break-word

h1,
.ui-h1
  display: block
  font-size: 25px
  line-height: 32px
  font-weight: $fontWeightM
  color: $colorDark
  text-transform: none

h2,
.ui-h2
  display: block
  font-size: 20px
  line-height: 26px
  font-weight: $fontWeightM
  color: $colorDark
  text-transform: none

h3,
.ui-h3
  font-size: 17px
  line-height: 24px
  font-weight: $fontWeightL
  color: $colorDark
  text-transform: none

h4,
.ui-h4
  display: block
  font-size: $fontSizeM
  line-height: 18px
  font-weight: $fontWeightL
  color: $colorDark
  text-transform: uppercase

// Copy
body,
select,
input,
button,
textarea
  font: normal $fontSizeM/$lineHeightM $fontFamily
  color: $colorDark

small,
.ui-small
  font-size: $fontSizeS

strong,
.ui-strong
  font-weight: $fontWeightL

// Link
a,
.ui-link
  color: $colorAction
  text-decoration: none
  cursor: pointer
  pointer-events: auto

  &:visited
    color: $colorAction

  &:active,
  &:hover
    color: darken($colorAction, 15%)
