@require 'basic_modal'
@require 'verb_modal'

.Word
  height: auto

  .ui-button-secondary
    border-radius: $borderRadiusM 0 0 $borderRadiusM

  .ui-button-primary
    border-radius: 0 $borderRadiusM $borderRadiusM 0
