[Unit]
Description=germanizer server

[Service]
ExecStart=/usr/bin/node /home/germanizer/app/current/app.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=germanizer-server
User=germanizer

Environment=NODE_ENV=production PORT=8001 PWD=/home/germanizer/app/current

[Install]
WantedBy=multi-user.target
