// Transitions
$duration = 200ms
$easing = ease
$transition = $duration $easing

// Media
$mediaS = '(min-width: 450px)'
$mediaM = '(min-width: 690px)'
$mediaL = '(min-width: 920px)'

// Colors
$colorBase = #eee
$colorBright = #fefefe

$colorAction = #9600ff
$colorDark = #333

$colorLightAlpha = alpha(#fff, .7)
$colorDarkAlpha = alpha(#000, .7)
$colorTransparent = rgba(0, 0, 0, 0)

// Typography
$fontFamily = 'Helvetica Neue', Arial, sans-serif

$fontWeightS = 300
$fontWeightM = 400
$fontWeightL = 600

$fontSizeS = 85%
$fontSizeM = 14px

$lineHeightM = 20px
$lineHeightS = 16px

// Borders
$borderRadiusS = 3px
$borderRadiusM = 4px
$borderRadiusL = 5px


// Shadows
$shadowL = 0 3px 5px alpha($colorDark, .2)
$shadowM = 0 2px 3px alpha($colorDark, .2)
$shadowS = 0 1px 1px rgba(0, 0, 0, .15)

// Offsets
$offsetSpace = .33em
